{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Olvidaste tu contraseña? <a href="{{ url_for('auth.password_reset_request') }}">Click aqui para restaurarla</a>.</p>
    <p>¿Eres nuevo? <a href="{{ url_for('auth.register') }}">Haz click aqui para registrarte</a>.</p>
</div>
{% endblock %}
