{% extends "base.html" %}

{% block title %}TwitTec - Confirma tu Cuenta{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hola, {{ current_user.username }}!
    </h1>
    <h3>Tu cuenta aun no ha sido confirmada.</h3>
    <p>
        Para ingresar a TwitTec, primero confirma tu cuenta.
        Revisa tu correo. Debes haber recibido un enlace de confirmacion.
    </p>
    <p>
        ¿Necesitas otro correo de confirmacion?
        <a href="{{ url_for('auth.resend_confirmation') }}">Haz click aqui</a>
    </p>
</div>
{% endblock %}
